<!DOCTYPE html>


<html>
<link rel="stylesheet" href="/index.css">
<div id = "box1">

<h2 id ="Header">
Log in

</h2>
<form action="/login" method="post">



<input id = "InputField1" placeholder="Email" name = "email">
<img id = "user1" src = "https://endlessicons.com/wp-content/uploads/2012/12/email-icon-614x460.png">
<input type="password" id = "InputField2" placeholder="Password" name = "password">
<img id = "user2" src = "https://icons.veryicon.com/png/o/object/material-design-icons/lock-76.png">

<button id = "singup1">
    LOG IN
</button>
</form>    



<h3 id = "member">
<form action = "/redirect" method="post">
    Don't have an account?<button id = "highlight"> Sign   up</button>
</form>

</h3>









</div>



</html>
